[Unit]
Description=Display Service
ConditionPathExists=/sys/class/leds/display/

[Service]
ExecStart=/usr/sbin/display-service
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=always
User=root
Type=simple

[Install]
WantedBy=basic.target
