[Unit]
Description=TM16xx Display Service

[Service]
ExecStartPre=/sbin/modprobe -a tm16xx
ExecStart=/usr/sbin/display-service
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=always
User=root
Type=simple

[Install]
WantedBy=basic.target
