/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

&{/} {

	i2c-display {
		compatible = "i2c-gpio";
		sda-gpios = <{DAT_GPIO} {DAT_PIN} (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <{CLK_GPIO} {CLK_PIN} (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <5>;
		#address-cells = <1>;
		#size-cells = <0>;

		display-controller@24 {
			compatible = "{CONTROLLER}";
			reg = <0x24>;

			{TRANSPOSED}
			tm16xx,digits = [{DIGITS}];
			tm16xx,segment-mapping = [{SEGMENTS}];

			{LEDS}

		};
	};
};

