config TM16XX
	tristate "TM16XX-compatible 7-segment LED controllers with keyscan"
	depends on SPI || I2C
	depends on INPUT
	select NEW_LEDS
	select LEDS_CLASS
	select LEDS_TRIGGERS
	select INPUT_MATRIXKMAP
	select TM16XX_KEYPAD if (INPUT)
	select TM16XX_I2C if (I2C)
	select TM16XX_SPI if (SPI)
	help
	  This driver supports the following TM16XX compatible
	  I2C and SPI 7-segment led display chips:
	  - Titanmec: TM1618, TM1620, TM1628, TM1638, TM1650
	  - Fuda Hisi: FD620, FD628, FD650, FD655, FD6551
	  - i-Core: AiP650, AiP1618, AiP1628
	  - Princeton: PT6964
	  - Winrise: HBS658

	  This driver can also be built as a module. If so, the module
	  will be called tm16xx.

config TM16XX_KEYPAD
	bool
	depends on TM16XX

config TM16XX_I2C
	tristate
	depends on TM16XX

config TM16XX_SPI
	tristate
	depends on TM16XX
