/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

&{/} {

	display_client: spi {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "spi-gpio";
		sck-gpios = <&gpio 74 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio 73 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio 69 GPIO_ACTIVE_LOW>;
		num-chipselects = <1>;

		display-controller@0 {
			compatible = "fdhisi,fd628";
			reg = <0x0>;
			spi-3wire;
			spi-lsb-first;
			spi-rx-delay-us = <1>;
			spi-max-frequency = <500000>;

			digits {
				#address-cells = <1>;
				#size-cells = <0>;
				digit@0 {
					reg = <0>;
					segments = <3 6>,
						   <1 6>,
						   <2 6>,
						   <6 6>,
						   <4 6>,
						   <5 6>,
						   <0 6>;
				};
				digit@1 {
					reg = <1>;
					segments = <3 5>,
						   <1 5>,
						   <2 5>,
						   <6 5>,
						   <4 5>,
						   <5 5>,
						   <0 5>;
				};
				digit@2 {
					reg = <2>;
					segments = <3 4>,
						   <1 4>,
						   <2 4>,
						   <6 4>,
						   <4 4>,
						   <5 4>,
						   <0 4>;
				};
				digit@3 {
					reg = <3>;
					segments = <3 3>,
						   <1 3>,
						   <2 3>,
						   <6 3>,
						   <4 3>,
						   <5 3>,
						   <0 3>;
				};
			};

			leds {
				#address-cells = <2>;
				#size-cells = <0>;
				led@0,0 {
					reg = <0 0>;
					function = LED_FUNCTION_ALARM;
				};
				led@1,0 {
					reg = <1 0>;
					function = LED_FUNCTION_USB;
				};
				led@2,0 {
					reg = <2 0>;
					function = "play";
				};
				led@3,0 {
					reg = <3 0>;
					function = "pause";
				};
				led@4,0 {
					reg = <4 0>;
					function = "colon";
				};
				led@5,0 {
					reg = <5 0>;
					function = LED_FUNCTION_LAN;
				};
				led@6,0 {
					reg = <6 0>;
					function = LED_FUNCTION_WLAN;
				};
			}

		};
	};
};

