/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

&{/} {
 i2c-display {
  compatible = "i2c-gpio";
  sda-gpios = <&pio 8 12 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>; /* PI12 */
  scl-gpios = <&pio 8 11 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>; /* PI11 */
  i2c-gpio,delay-us = <5>;
  #address-cells = <1>;
  #size-cells = <0>;

  display-controller@24 {
   compatible = "fdhisi,fd650";
   reg = <0x24>;
   titanmec,digits = [00 01 02 03];
   titanmec,segment-mapping = [00 01 02 03 04 05 06];
   #address-cells = <2>;
   #size-cells = <0>;

   led@1,7 {
    reg = <1 7>;
    function = "colon";
   };
  };
 };
};
